Realizar o tratamento das bases coletadas via API do projeto final na aula 12.
Aspectos a incluir

Ajuste os nomes das colunas e linhas. 
Filtros de linhas e colunas, se necessário. 
unstack e/ou stack.
Tratamento do tipo das variáveis.
Ajuste de missing.
Tratamento de colunas string. 

Observações

Você pode criar novas tabelas, salvando as bases brutas e as bases tratadas.
As bases finais precisam estar totalmente ajustadas (da melhor forma possível) e salvas no banco de dados.

Bibliotecas necessárias:

In [43]:
import pandas as pd
import requests
import pdb
from plyer import notification
from datetime import datetime
from sqlalchemy import create_engine

In [44]:
url = "https://brasilapi.com.br/api/banks/v1"
brasilapi = requests.get(url)
brasilapi

In [45]:
dados_bruto = pd.DataFrame(brasilapi)
dados_bruto

                                                     0
0    b'[{"ispb":"00000000","name":"BCO DO BRASIL S....
1    b' DE BRASILIA S.A.","code":70,"fullName":"BRB...
2    b':"Banco Central do Brasil - Selic"},{"ispb":...
3    b'"00122327","name":"SANTINVEST S.A. - CFI","c...
4    b'pb":"00204963","name":"CCR SEARA","code":430...
..                                                 ...
314  b'ame":"Banco do Estado do Rio Grande do Sul S...
315  b'ORRETORA DE C\xc3\x82MBIO LTDA"},{"ispb":"92...
316  b'2875780","name":"WARREN CVMC LTDA","code":37...
317  b'894922","name":"BANCO ORIGINAL","code":212,"...
318  b',"fullName":"EFX CORRETORA DE C\xc3\x82MBIO ...

[319 rows x 1 columns]

In [46]:
if brasilapi.status_code >= 200 and brasilapi.status_code <= 299:
    dados = brasilapi.json()
    df_formatado = pd.DataFrame(dados)

    df_formatado.rename(columns={'fullName': 'Nome', 'code': 'Codigo', 'ispb': 'Inscrição'}, inplace=True)

    df_formatado['Nome'] = df_formatado['Nome'].astype(str)
    df_formatado['Codigo'] = df_formatado['Codigo'].astype(str)
    df_formatado['Inscrição'] = df_formatado['Inscrição'].astype(str)

    df_formatado.fillna('', inplace=True)

    df_formatado['Nome'] = df_formatado['Nome'].str.strip()

else:
    print("Erro ao obter dados da API.")

In [47]:
df_formatado.head()

,Inscrição,name,Codigo,Nome
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,nan,Banco Central do Brasil - Selic
3,00038166,Bacen,nan,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."

BASE 2:

In [48]:
url = "https://pokeapi.co/api/v2/pokemon"
Pokemon = requests.get(url)
Pokemon

In [49]:
dados_brutos = pd.DataFrame(Pokemon)
dados_brutos

                                                    0
0   b'{"count":1302,"next":"https://pokeapi.co/api...
1   b':"https://pokeapi.co/api/v2/pokemon/1/"},{"n...
2   b'":"https://pokeapi.co/api/v2/pokemon/3/"},{"...
3   b'","url":"https://pokeapi.co/api/v2/pokemon/5...
4   b'tle","url":"https://pokeapi.co/api/v2/pokemo...
5   b'astoise","url":"https://pokeapi.co/api/v2/po...
6   b':"metapod","url":"https://pokeapi.co/api/v2/...
7   b'name":"weedle","url":"https://pokeapi.co/api...
8   b'name":"beedrill","url":"https://pokeapi.co/a...
9   b'{"name":"pidgeotto","url":"https://pokeapi.c...
10  b'/"},{"name":"rattata","url":"https://pokeapi...
11                                        b'/20/"}]}'

In [56]:

if Pokemon.status_code >= 200 and Pokemon.status_code <= 299:
    pokemon_data = Pokemon.json()

    formatado = pd.json_normalize(pokemon_data['results'])

    formatado.rename(columns={'name': 'nome', 'url': 'link'}, inplace=True)

    formatado['nome'] = formatado['nome'].astype(str)
    formatado['link'] = formatado['link'].astype(str)

    formatado.fillna('', inplace=True)

    formatado['nome'] = formatado['nome'].str.strip()

else:
    print("Erro ao obter dados da API.")

In [57]:
formatado.head()

         nome                                  link
0   bulbasaur  https://pokeapi.co/api/v2/pokemon/1/
1     ivysaur  https://pokeapi.co/api/v2/pokemon/2/
2    venusaur  https://pokeapi.co/api/v2/pokemon/3/
3  charmander  https://pokeapi.co/api/v2/pokemon/4/
4  charmeleon  https://pokeapi.co/api/v2/pokemon/5/